*.egg
*.egg-info
*.mo
*.pyc
*.pyo
.installed.cfg
.mr.developer.cfg
bin
build
develop-eggs
dist
downloads
eggs
local.cfg
parts
var
/buildout.cfg
/include/*
/lib/*
/local/
/pip-selfcheck.json
*.sublime-project
*.sublime-workspace
/docs/Makefile
/docs/make.bat
/.vscode/settings.json
